

<div class="dropzone"
     dropZone
     (hovered)="this.uploadService.toggleHover($event)"
>



  <h3>Profile Picture</h3>

  <div class="file">
    <label class="file-label">


      <input class="file-input" type="file" (change)="setImage($event.target.files)">


      <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
    </label>
  </div>
</div>

<div *ngIf="this.uploadService.profilePercentage | async as pct">

  <progress class="progress is-info"
            [value]="pct"
            max="100">
  </progress>

  {{ pct | number }}%

</div>


<div *ngIf="this.uploadService.profileSnapshot | async as snap">
  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}

  <div *ngIf="this.uploadService.profileDownloadURL | async as url">
    <h3>Results!</h3>
    <img [src]="url"><br>
    <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
  </div>

</div>





<form (submit)="createProfile(firstName.value, surname.value, nickname.value, age.value, bio.value)">
  <label for ="firstName">First Name</label>
  <input required ngModel name="firstName" #firstName="ngModel" id ="firstName" type ="text">

  <label for ="surname">Surname</label>
  <input required ngModel name="surnamel" #surname="ngModel" id ="surname" type ="text">

  <label for ="nickname">nickname</label>
  <input required ngModel name="nickname" #nickname="ngModel" id ="nickname" type ="text">

  <label for ="age">Age</label>
  <input required ngModel name="age" #age="ngModel" id ="age" type ="text">

  <label for ="bio">bio</label>
  <input required ngModel name="bio" #bio="ngModel" id ="bio" type ="text">

  <button type="submit">Create Account</button>
</form>
