<mat-card align="center">
<form class = "form" (submit)="login(email.value, password.value)">

  <h1>Login</h1>
    <mat-form-field>
    <input matInput placeholder ="Email address" required ngModel name="email" #email="ngModel" id ="email" type ="text">
    </mat-form-field>

    <mat-form-field>
    <input matInput placeholder="Password" required ngModel name="password" #password = "ngModel" id ="password" type ="password">
      </mat-form-field>
    <button mat-button>Login</button>

</form>
</mat-card>
