

<mat-toolbar>
  <button mat-button  *ngIf="!auth" routerLink="/login">Login</button>
  <button mat-button  *ngIf="!auth" routerLink="/register">Register</button>
  <button mat-button *ngIf="auth" routerLink="/">Home</button>
  <button mat-button *ngIf="auth" routerLink="/createSong">Create Song</button>
  <button mat-button *ngIf="auth" routerLink="/playlist/{{id}}">My Playlist</button>
  <button mat-button  *ngIf="auth" (click)="logout()" >logout</button>

</mat-toolbar>


<router-outlet></router-outlet>
