

<div class="dropzone"
     dropZone
     (hovered)="this.uploadService.toggleHover($event)"
>



  <h3>AngularFire Drop Zone</h3>

  <div class="file">
    <label class="file-label">


      <input class="file-input" type="file" (change)="setImage($event.target.files)">


      <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
    </label>
  </div>
</div>

<div *ngIf="this.uploadService.albumPercentage | async as pct">

  <progress class="progress is-info"
            [value]="pct"
            max="100">
  </progress>

  {{ pct | number }}%

</div>


<div *ngIf="this.uploadService.albumSnapshot | async as snap">
  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}

  <div *ngIf="this.uploadService.albumDownloadURL | async as url">
    <h3>Results!</h3>
    <img [src]="url"><br>
    <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
  </div>

</div>






<div class="dropzone"
     dropZone
     (hovered)="this.uploadService.toggleHover($event)"
>



  <h3>AngularFire Drop Zone</h3>

  <div class="file">
    <label class="file-label">


      <input class="file-input" type="file" (change)="setImage($event.target.files)">


      <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
    </label>
  </div>
</div>

<div *ngIf="this.uploadService.albumPercentage | async as pct">

  <progress class="progress is-info"
            [value]="pct"
            max="100">
  </progress>

  {{ pct | number }}%

</div>


<div *ngIf="this.uploadService.albumSnapshot | async as snap">
  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}

  <div *ngIf="this.uploadService.albumDownloadURL | async as url">
    <h3>Results!</h3>
    <img [src]="url"><br>
    <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
  </div>

</div>





<form >
  <div>
    <label for ="title">Title</label>
    <input required ngModel name="title" #title="ngModel" id ="title" type ="text">

    <label for ="artist">Artist</label>
    <input ngModel name="artist" #artist = "ngModel" id ="artist" type ="text">

    <label for ="genre">genre</label>
    <input ngModel name="genre" #genre = "ngModel" id ="genre" type ="text">

    <button mat-button (click)="createSong(title.value, artist.value, genre.value)">Create</button>
  </div>
</form>
