<mat-tab-group>
  <mat-tab label="song">
<div class = "song">
  <img style="float: left;" class ="songImg" [src] = "(song | async)?.art">
  <h1>{{(song |async)?.title}}</h1>
  <p>{{(song |async)?.artist}}</p>
  <p>{{(song |async)?.genre}}</p>
  <p> Uploaded by <a [routerLink]="['/profile', ownerID]">{{(owner | async)?.nickname}}</a> </p>
  <audio controls [src]="(song | async)?.song"></audio>
  <br>
  <ng-container *ngIf="isLoggedIn">
  <ng-container *ngIf="!isjoined">
<button mat-button (click)="addToPlaylist()">Add To Playlist</button>
  </ng-container>
  <ng-container *ngIf="isjoined">
<button mat-button (click) ="removeFromPlaylist()">Remove From Playlist</button>
  </ng-container>
  </ng-container>
</div>
  </mat-tab>
  <mat-tab label="Comments">

    <div  class="bs-example" id="messages">
      <div *ngFor="let message of comments | async">
        <mat-card class ="commentCard"  >

          <mat-card-header>

            <div mat-card-avatar style= " background-image: url({{message.pic}}); background-size: cover;"></div>
            <img src= "{{message.pic}}" class="avatar"/>

          </mat-card-header>

          <p>{{ message.comment }}</p>
          <div class="author">
            {{ message.displayName }}
          </div>

          <div class="author">
            {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
          </div>

        </mat-card>
      </div>
    </div>

    <form #myForm="ngForm" (submit)="myForm.reset();">
      <label for ="comment">Comment</label>
      <input required ngModel name="comment" #comment="ngModel" id ="comment" type ="text">

      <button mat-button type = "submit" class="send-message" (click)="postComment(comment.value)">SEND</button>
    </form>

  </mat-tab>
</mat-tab-group>
