<mat-card align="center">
<form (submit)="createAccount(email.value, password.value)">
  <h1>Register</h1>
  <mat-form-field>
  <input matInput placeholder ="Email address"  required ngModel name="email" #email="ngModel" id ="email" type ="text">
  <div *ngIf="email.touched && !email.valid">Email is invalid</div>
  </mat-form-field>

  <mat-form-field>
  <input matInput placeholder ="Password" required ngModel name="password" #password = "ngModel" id ="password" type ="password">
  </mat-form-field>

  <button mat-button (click)="createAccount(email.value, password.value)">Register</button>
</form>
</mat-card>
